.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: se-resize;
  background: none;
  padding: 0;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-se::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 30px;
  height: 30px;
  border-bottom: 7px solid var(--color-white);
  border-right: 7px solid var(--color-white);
  border-radius: 0 0 14px 0;
}
